<div class= "container">
  <div class="row">
    <div class="col-md-12">
    <div class="card form-signup" data-background-color="orange">
        <%= form_for(@blog, html: {class: "form" }) do |f| %>
          
          <div class="header header-primary text-center">
              <h4 class="title title-up"><%= "#{action_name}" %> Article</h4>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group form-group-no-border">       
                  <%= f.text_field :title, :class => 'form-control', :placeholder => 'Title', autofocus: true %>
                </div>
                
                <div class="text-center">
                    <h5 class="title title-up blog-space">Choose Category: </h4>
                </div>
              
                <div class="checkbox text-center">        
                  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {}, {class:"checkbox", :multiple => true } %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class= "col-md-12">
                <div class="text-center">
                    <h5 class="title title-up blog-space">Image Upload: </h4>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center" style="margin: 5px;">
                  <label class="btn btn-simple btn-lg btn-round blog-space">
                    Main Image <%= f.file_field :main_image, style:"display: none;" %>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center" style="margin: 5px;">
                  <label class="btn btn-simple btn-lg btn-round blog-space">
                    Thumb Image <%= f.file_field :thumb_image, style:"display: none;" %>
                  </label>
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="col-md-12">
                <div class="input-group form-group-no-border">        
                  <%= f.text_area :body, :class => 'form-control blog-description', :placeholder => 'Description', :rows => "10" %>
                </div>
              </div>
            </div>
          </div>
          <div class="footer text-center">
              <%= f.submit class: "btn btn-neutral btn-round btn-lg" %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>