<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/bg10.jpg');">
    </div>
		<div class="container">
		  <div class="content-center">
		    <h3 class="wow fadeInDown title" data-wow-delay="1s">A Place for Entrepreneurs to Share and Discover New Stories</h3>
		  </div>
		</div>
  </div>
</div>
<div class="main main-raised">
  <div class= "container">
    <div class="row text-center">
      <div class="col-md-12 category_section wow zoomIn" data-wow-delay="1s">
        <%= link_to "All", blogs_path(category: "all"), :remote => true, class: "btn btn-primary btn-simple btn-round btn-category" %>
        <% Category.all.each do |category| %>
          <%= link_to "#{category.name}", blogs_path(category: category.name),  :remote => true, class: "btn btn-primary btn-simple btn-round btn-category" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="blogs_articles">
      <%= render 'blogs/articles', blogs: @blogs  %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="pagination" class="pagination-container justify-content-center">
          <%= render 'blogs/paginate', blogs: @blogs, remote: true %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>
