<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('<%= @blog.main_image %>');">
    </div>
		<div class="container">
		  <div class="content-center">
		    <h3 class="wow fadeInDown title" data-wow-delay="1s"><%= @blog.title %></h3>
		    <p class="wow fadeInUp" data-wow-delay="1s"> By <%= link_to "Arpit Agarwal", about_path %> &emsp;|&emsp; <%= @blog.updated_at.strftime("%B %e, %Y") %></p>
		  </div>
		</div>
  </div>
</div>

<div class="main main-raised">
  <div class= "container">
    <div class="blog-section">
      <div class="row">
        <div class="col-md-8 offset-md-2 blog-content wow zoomIn" data-wow-delay="1s">
          <%= @blog.body.html_safe%>
        </div>
      </div>
    </div>
    <hr class="wow zoomIn" data-wow-delay="1s">
    <div class="share-section text-center wow zoomIn" data-wow-delay="1s">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <div id = "admin_links">
              <%= link_to "Edit Article", edit_blog_path(@blog) if logged_in?(:site_admin) %>
              <%= link_to "Delete Article", blog_path(@blog), method: :delete, data: {confirm: "Are You Sure?"} if logged_in?(:site_admin) %>
              <%= link_to "All Articles", blogs_path %>
              <%= link_to "Portfolio", portfolios_path %>
            </div>
          <div id='share_box'>
            <p>Share <%= @blog.title %></p>
            <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @blog.title %> by @arpit016 - =<%= blog_url(@blog) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
            <i class='fa fa-twitter'></i>
            </a>
            <!-- Facebook -->
            <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= blog_url(@blog) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
            <i class='fa fa-facebook'></i>
            </a>
            <!-- Google Plus -->
            <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= blog_url(@blog) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
            <i class='fa fa-google-plus'></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr class="wow zoomIn" data-wow-delay="0.5s">
    <div class="writer-info-section">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h4 class="wow zoomIn title text-center blog-author" data-wow-delay="1s">written by</h4>
          <div class="wow zoomIn card-container manual-flip" data-wow-delay="1s">
            <div class="workex">
              <div class="show-front">
                  <div class="cover show-profile">
                  </div>
                  <div class="user">
                      <img class="img-circle" src="/assets/arpit.jpg"/>
                  </div>
                  <div class="content">
                      <div class="main text-center">
                          <h3 class="name">Arpit Agarwal</h3>
                          <p class="profession">SOFTWARE DEVELOPER</p>
                          <p class="text-center">A programmer of considerable range, in love with Ruby on Rails and Python. I love to write technical blog posts and share the knowledge gained. Know more about me below.</p>
                          <%= link_to "About Me", about_path, class: "btn btn-primary btn-round text-center" %>
                      </div>
                      <div class="footer">
                          <div class="social-links text-center">
                              <a href="https://github.com/arpit016" class="github"><i class="fa fa-github fa-fw"></i></a>
                              <a href="https://stackoverflow.com/users/4885251/arpit-agarwal" class="stackoverflow"><i class="fa fa-stack-overflow fa-fw"></i></a>
                              <a href="https://www.facebook.com/arpit160" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          </div>
                      </div>
                  </div>
              </div> <!-- end front panel -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-section">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h4 class="title text-center blog-author">Comments</h4>
          <%= render 'blogs/disqus' %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>
