<div class= "container">
  <div class="row">
    <div class="col-md-12">
    <div class="card form-signup" data-background-color="orange">
        <%= form_for(@portfolio_item, html: {class: "form" }) do |f| %>
          
          <div class="header header-primary text-center">
              <h4 class="title title-up"><%= "#{action_name}" %> Project</h4>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group form-group-no-border">       
                  <%= f.text_field :title, :class => 'form-control', :placeholder => 'Title', autofocus: true %>
                </div>
              
                <div class="input-group form-group-no-border">        
                  <%= f.text_field :subtitle, :class => 'form-control', :placeholder => 'Subtitle' %>
                </div>
                
                <div class="input-group form-group-no-border">        
                  <%= f.text_area :body, :class => 'form-control', :placeholder => 'Description', :rows => "10" %>
                </div>
              </div>
              <div class= "col-md-6">
                <div class="text-center">
                    <h4 class="title title-up">Image Upload: </h4>
                </div>
                <div class="text-center" style="margin: 5px;">
                   <%= f.file_field :main_image, class:"btn btn-simple btn-lg btn-round" %>
                </div>
                <div class="text-center" style="margin: 5px;">
                    <%= f.file_field :thumb_image, class:"btn btn-simple btn-lg btn-round" %>
                </div>
                <div>
                  <div class="text-center">
                    <h4 class="title title-up">Technologies Used: </h4>
                  </div>
                  <%= f.fields_for :technologies do |technology_form| %>
                    <%= render 'technology_fields', f: technology_form %>
                  <% end %>
                  <div class="cocoon-link text-center">
                    <%= link_to_add_association 'Add Technology', f, :technologies %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer text-center">
              <%= f.submit class: "btn btn-neutral btn-round btn-lg" %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>