<% portfolio_items.each do |portfolio_item|%>
    <div class="col-lg-4 col-md-6">
        <div class="portfolio-card-container wow zoomIn" data-wow-delay="1s">
          <div class="portfolio">
            <div class="portfolio-front">
              <div class="portfolio-cover">
                <%= image_tag portfolio_item.thumb_image %>
              </div>
              <div class="footer">
                  <button class="btn btn-primary btn-round" onclick="rotateCard(this)">
                       <%= portfolio_item.title %>
                  </button>
              </div>
            </div>
            <div class="portfolio-back">
              <div class="header">
                  <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
              </div>
              <div class="content">
                <div class="main text-center">
                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                    <% if user_signed_in? %>
                      <%= link_to '<i class="fa fa-eye fa-lg fa-fw"></i>'.html_safe, "#myModal_#{portfolio_item.id}", { :class => 'link-separator social-links after-login', 'data-toggle' => 'modal', 'rel' => 'tooltip', 'title' => 'Show' } %>
                    <% else %>
                      <%= link_to '<i class="fa fa-file-text fa-fw fa-lg"></i> Read'.html_safe, "#myModal_#{portfolio_item.id}", { :class => 'btn btn-primary btn-round after-read', 'data-toggle' => 'modal' } %>
                    <% end %>
                    <%= link_to '<i class="fa fa-pencil-square fa-lg fa-fw"></i>'.html_safe, edit_portfolio_path(portfolio_item), { :class => 'link-separator social-links', 'rel' => 'tooltip', 'title' => 'Edit' } if logged_in?(:site_admin) %>
                    <%= link_to '<i class="fa fa-trash fa-lg fa-fw"></i>'.html_safe, portfolio_path(portfolio_item), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "link-separator social-links after", :rel => "tooltip", "title" => "Delete" if logged_in?(:site_admin) %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <%= render :partial => "portfolios/show", :locals => { :portfolio_item => portfolio_item} %>
<% end %>