<div class="modal fade" id="myModal_<%=portfolio_item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title custom-color" id="myModalLabel"><%= portfolio_item.title %> - <span class="subtitle"><%= portfolio_item.subtitle %></span></h4>
        
      </div>
      <div class="modal-body text-center">
        <div class="col-md-12">
          <%= image_tag portfolio_item.main_image, style: "width: 700px;" %>
        </div>
        <h4 class="modal-title custom-color">Description</h4>
        <div class="col-md-12 portfolio-description">
          <p>Eventbrite is the leading event management platform on the web with millions of individuals utilizing their applications to find, register or, and management events in numerous industries. Since starting to consult for Eventbrite I have been tasked with building out web applications from scratch in Ruby on Rails, along with extending the functionality of legacy applications, and working on developing custom libraries for their APIs. In building out these applications, I have been able to work on applications that are both enterprise and consumer-facing, working with: Ruby on Rails and JavaScript. As would be expected with working with organizations such as Eventbrite, the projects follow development best practices, including: following agile methodology, daily updates to the project managers, version control and unit testing</p>
        </div>
        <h4 class="modal-title custom-color">Technologies Used</h4>
        <div class= "container">
          <div class="row">
            <div class="col-md-12 technology_section">
              <% portfolio_item.technologies.each do |technology| %>
                <button type="button" class="btn btn-primary btn-round technology"> <%= technology.name %> </button>
              <% end %>
            </div>
          </div>
        </div>
        
        


      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-simple btn-primary btn-lg btn-round close-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>