<% @title = "Login" %>
<body class="login-page">

    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image: url('/assets/login.jpg');"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: 'form'}) do |f| %>
                    
                        <div class="header header-primary text-center">
                            <h4 class="title contact-header"> LOGIN </h4>
                        </div>
                
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                            </div>
                        </div>
                        <div class="footer text-center actions">
                            <%= f.submit "Log in", class:"btn btn-primary btn-round btn-lg btn-block" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <footer class="footer contact-footer">
            <div class="container text-center">
                <nav>
                    <ul>
                        <li>
                          &copy;
                            <%= link_to "Arpit Agarwal", root_path %>
                        </li>
                        <li>
                            <%= link_to "About Me", about_path %>
                        </li>
                        <li>
                            <%= link_to "Blog", blogs_path %>
                        </li>
                        <li>
                            <%= link_to "Portfolio", portfolios_path %>
                        </li>
                    </ul>
                </nav>
               
            </div>
        </footer>
    </div>
</body>
