<nav class="navbar navbar-toggleable-md bg-primary fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="<%= root_path %>" data-placement="bottom">
                    Arpit Agarwal
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="/assets/blurred-image-1.jpg">
               <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to 'New Article', new_blog_path, class: "nav-link" if logged_in?(:site_admin) %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'New Portfolio', new_portfolio_path, class: "nav-link" if logged_in?(:site_admin) %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'About Me', about_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Portfolio', portfolios_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Blog', blogs_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Log out', destroy_user_session_path,  method: :delete, class: "nav-link" if logged_in?(:site_admin, :user) %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow me on Twitter" data-placement="bottom" href="#" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="hidden-lg-up">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow me on Facebook" data-placement="bottom" href="#" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="hidden-lg-up">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow me on Github" data-placement="bottom" href="https://www.github.com/arpit016" target="_blank">
                            <i class="fa fa-github"></i>
                            <p class="hidden-lg-up">Github</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>