<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
     <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
  </head>

  <body>
    <% if (controller_name === "sessions" && action_name === "new") || (action_name === "index") || (action_name === "show") || (action_name === "home") || (action_name === "about")%>
       <%= render 'layouts/transparentnavbar' %>
    <% else %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
    
    <!--
    <% if session[:source] %>
      Thanks for visiting me from <%= session[:source] %>
    <% end %>
    -->
  </body>
</html>
